.custom-file-upload {
  
    display: inline-block;
    padding: 6px 12px;
    text-align: center;
    background-color:#FF007B;
    border-radius: 5px;
    cursor: pointer;
    color:white;
}
input[type="file"]{
    display:none;
}

.bulk_div{
  margin: 15px 0px 15px 0px;
}