<div id="footer">
    <div id="info">
        <div class="wrapper">
            <h2 style="color: #84c225">bigbasket-online grocery store</h2>
            <p>
                Did you ever imagine that the freshest of fruits and vegetables, top quality pulses and food grains,
                dairy products and hundreds of branded items could be handpicked and delivered to your home,
                 all at the click of a button? India’s first comprehensive online megastore, bigbasket.com, 
                brings a whopping 20000+ products with more than 1000 brands, to over 6 million happy customers. 
                From household cleaning products to beauty and makeup, bigbasket has everything you need for your
                daily needs.
            </p>
            <p>
                bigbasket.com is convenience personified.
            </p>
            <p>
                We have taken away all the stress associated with shopping for daily essentials, and you can now 
                order all your household products and even buy groceries online without travelling long distances
                 or standing in serpentine queues. Add to this the convenience of finding all your requirements at one 
                 single source, along with great savings, and you will realise that bigbasket- India’s largest online
                  supermarket, has revolutionised the way India shops for groceries. Online grocery shopping 
                  has never been easier. Need things fresh? Whether it’s fruits and vegetables or dairy and meat, 
                  we have this covered as well! Get fresh eggs, meat, fish and more online at your convenience.
            </p>
            <p>
                Hassle-free Home Delivery options
            </p>
            <p>
                We deliver to 25 cities across India and maintain excellent delivery times, ensuring that all your
                 products from groceries to snacks branded foods reach you in time.
            </p>
        <ul>
            <li>
                Slotted Delivery: Pick the most convenient delivery slot to have your grocery delivered.
                 From early morning delivery for early birds, to late-night delivery for people who work the late shift,
                  bigbasket caters to every schedule
            </li>
            <li>
                Express Delivery: This super useful service can be availed by customers in cities like Bangalore, Mumbai
                , Pune, Chennai, Kolkata, Hyderabad and Delhi-NCR in which we deliver your orders to your doorstep in 90 Minutes
            </li>
            <li>
                BB Speciality stores: Missed out on buying that essential item from your favourite neighbourhood store
                 for tonight’s party? We’ll deliver it for you! From bakery, sweets and meat to flowers and chocolates,
                  we deliver your order in 90 minutes, through a special arrangement with a nearby speciality store,
                   verified by us.
            </li>
            <button>Read more..</button>
        </ul>
        </div>
    </div>
    <div id="footer_links">
        <!---<div>
            <h4>bigbasket</h4>
            <ul>
                <li *ngFor="let about in footerData.about">
                    <a [routerLink]="footerData.about[about]">{{footerData.about}}</a>
                </li>
            </ul>   
        </div>
        <div>
            <h4>Help</h4>
            <ul>
                <li *ngFor="let help in footerData.help">
                    <a [routerLink]="footerData.help[help]">{{footerData.help}}</a>
                </li>
            </ul>
        </div>-->
        <div>
            <h4>Download Our App</h4>
            <a href="">
                <img src="../media/img/Google-App-store-icon.png">
            </a>
            <a href="">
                <img src="../media/img/Apple-App-store-icon.png">
            </a>
        </div>
        <div>
            <h4>Get Social With Us</h4>
            <div id="social">
                <a id="social_a1" href="">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a id="social_a2" href="">
                    <i class="fab fa-pinterest-p"></i>
                </a>
                <a id="social_a3" href="">
                    <i class="fab fa-twitter"></i>
                </a>
                <a id="social_a4" href="">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            <div id=""></div>
        </div>
    </div>
    <div id="footer_nav">
        <div>
            <div class="footnav_1">
                <h4>Popular Categories:</h4>
            </div>
            <div class="footnav_2">
                <ul>
                    <!--<li *ngFor="">
                        <a [routerLink]="">
                            <span>{{}}</span>
                            ,
                        </a>
                    </li>-->
                    <li>hello, </li>
                    <li>hello, </li>
                    <li>hello, </li>
                    <li>hello, </li>
                    <li>hello, </li>
                    <li>hello, </li>
                    <li>hello, </li>
                    <li>hello, </li>
                    <li>hello, </li>
                    <li>hello, </li>
                    <li>hello, </li>
                    <li>hello, </li>
                    <li>hello, </li>
                    <li>hello, </li>
                    <li>hello, </li>
                    <li>hello, </li>
                    <li>hello, </li>
                    <li>hello, </li>
                    <li>hello, </li>
                    <li>hello, </li>
                    <li>hello, </li>
                    <li>hello, </li>
                    <li>hello, </li>
                    <li>hello, </li>
                    <li>hello, </li>

                    
                </ul>
            </div>
        </div>
        <div>
            <div class="footnav_1">
                <h4>Popular Brands:</h4>
            </div>
            <div class="footnav_2">
                <ul>
                    <!--<li *ngFor="">
                        <a [routerLink]="">
                            <span>{{}}</span>
                            ,
                        </a>
                    </li>-->
                    
                </ul>
            </div>
        </div>
        <div>
            <div class="footnav_1">
                <h4>Cities We Serve:</h4>
            </div>
            <div class="footnav_2">
                <ul>
                    <!--<li *ngFor="">
                        <a [routerLink]="">
                            <span>{{}}</span>
                            ,
                        </a>
                    </li>-->
                    
                </ul>
            </div>
        </div>
        <div>
            <div class="footnav_1">
                <h4>Payment Options:</h4>
            </div>
            <div class="footnav_2">
                <ul>
                    <!--<li *ngFor="">
                        <a [routerLink]="">
                            <span>{{}}</span>
                            ,
                        </a>
                    </li>-->
                    
                </ul>
            </div>
        </div>
    </div>
    <div id="copyrights">
        <div style="margin-left: 50px">
            <p style="margin: 0px;padding: 7px 0px;color: gray">Copyright © 2011-2018 Supermarket Grocery Supplies Pvt Ltd</p>
        </div>
    </div>
</div>