

<form [formGroup]="abtForm" (ngSubmit)="onsubmit(abtForm.value)">
    <h2>About Title <title></title></h2>
    <div>
        <button mat-raised-button type="button" color='accent' (click)='addTitleName()'>Add</button>
    </div>
    <div formArrayName="titleName"
      *ngFor="let abttitle of abtForm.controls.titleName.controls; let i = index;">
      <div>
        <mat-form-field class="example-full-width">
        <textarea matInput placeholder="About Title" formControlName="{{i}}"></textarea>
        </mat-form-field>
        <div>
            <button mat-raised-button type="button" color='accent' (click)='deleteTitleName(i)'>Delete</button>
        </div>

    </div>

    </div>
    <h2>About Paragraphs <title></title></h2>
    <div>
        <button mat-raised-button type="button" color='accent' (click)='addTitlePara()'>Add</button>
    </div>
    <div formGroupName="titleParagraph">
    <div formArrayName="paragraph"
      *ngFor="let abttitle of abtForm.controls.titleParagraph.controls.paragraph.controls; let i = index;">
      <div>
        <mat-form-field class="example-full-width">
        <textarea matInput placeholder="About Title" formControlName="{{i}}"></textarea>
        </mat-form-field>
        <div>
            <button mat-raised-button type="button" color='accent' (click)='deleteParagraph(i)'>Delete</button>
        </div>

    </div>
    </div>

    </div>
    <h2>About Lists <title></title></h2>
    <div>
        <button mat-raised-button type="button" color='accent' (click)='addTitleList()'>Add</button>
    </div>
    <div formGroupName="titleParagraph">
    <div formArrayName="lists"
      *ngFor="let abttitle of abtForm.controls.titleParagraph.controls.lists.controls; let i = index;">
      <div>
        <mat-form-field class="example-full-width">
        <textarea matInput placeholder="About Title" formControlName="{{i}}"></textarea>
        </mat-form-field>
        <div>
            <button mat-raised-button type="button" color='accent' (click)='deleteList(i)'>Delete</button>
        </div>

    </div>
    </div>

    </div>
    <h2>About SubTitle <title></title></h2>
    <div>
        <button mat-raised-button type="button" color='accent' (click)='addsubTitleName()'>Add</button>
    </div>
    <div formGroupName="aboutSubTitle">
    <div formArrayName="subTitleName"
      *ngFor="let abttitle of abtForm.controls.aboutSubTitle.controls.subTitleName.controls; let i = index;">
      <div>
        <mat-form-field class="example-full-width">
        <textarea matInput placeholder="About Title" formControlName="{{i}}"></textarea>
        </mat-form-field>
        <div>
            <button mat-raised-button type="button" color='accent' (click)='deletesubTitleName(i)'>Delete</button>
        </div>

    </div>
    </div>

    </div>
    
    <h2>About SubTitleParagraphs <title></title></h2>
    <div>
        <button mat-raised-button type="button" color='accent' (click)='addsubTitlePara()'>Add</button>
    </div>
    <div formGroupName="aboutSubTitle">
    <div formArrayName="subTitleParagraphs"
      *ngFor="let abttitle of abtForm.controls.aboutSubTitle.controls.subTitleParagraphs.controls; let i = index;">
      <div>
        <mat-form-field class="example-full-width">
        <textarea matInput placeholder="About Title" formControlName="{{i}}"></textarea>
        </mat-form-field>
        <div>
            <button mat-raised-button type="button" color='accent' (click)='deletesubParagraph(i)'>Delete</button>
        </div>

    </div>
    </div>

    </div>
    
<button type="submit">submit</button>
</form>